/*.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top info top info top info"
    "extract extract to do"
    "extract extract emoji";
}

.top info { grid-area: top info; }

.extract { grid-area: extract; }

.to do { grid-area: to do; }

.emoji { grid-area: emoji; }*/

* {
  color: firebrick;
  font-family: sans-serif;
  text-align: center;
  list-style-position: inside;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}
    
.wid1 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
}

.wid2 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 3;
}

.wid3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}

.wid4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 5;
}

.wid5 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 7;
}
