* {
  color: firebrick;
  font-family: sans-serif;
  text-align: center;
  list-style-position: inside;
}

body {
  background: #000000;
  background: -webkit-linear-gradient(143deg, rgba(0, 0, 0, 1) 14%, rgba(43, 22, 22, 1) 50%, rgba(41, 2, 2, 1) 86%);
  background: -moz-linear-gradient(143deg, rgba(0, 0, 0, 1) 14%, rgba(43, 22, 22, 1) 50%, rgba(41, 2, 2, 1) 86%);
  background: linear-gradient(143deg, rgba(0, 0, 0, 1) 14%, rgba(43, 22, 22, 1) 50%, rgba(41, 2, 2, 1) 86%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#290202", GradientType=0);
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}
    
.wid1 {
    grid-column: span 5 / span 5;
    grid-row: span 1 / span 1;
    border-radius: 25px;
    background-color: #3b3737;
  }

.wid2 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 3;
    border-radius: 25px;
    background-color: #3b3737
}

.wid3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
    border-radius: 25px;
    background-color: #3b3737
}

.wid4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 5;
    border-radius: 25px;
    background-color: #3b3737
}

.wid5 {
    grid-column: span 5 / span 5;
    grid-row: span 1 / span 1;
    grid-row-start: 7;
}
