* {
  color: #ab4f4f;
  font-family: sans-serif;
  /*text-align: center;*/
  /*list-style-position: inside;*/
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top info top info top info"
    "extract extract to do"
    "extract extract emoji";
}

.top info { grid-area: top info; }

.extract { grid-area: extract; }

.to do { grid-area: to do; }

.emoji { grid-area: emoji; }


.title {
  color: darkred;
  font-size: 84px;
}

body {
  background: #000000;
  background: -webkit-linear-gradient(143deg, rgba(0, 0, 0, 1) 14%, rgba(43, 22, 22, 1) 50%, rgba(41, 2, 2, 1) 86%);
  background: -moz-linear-gradient(143deg, rgba(0, 0, 0, 1) 14%, rgba(43, 22, 22, 1) 50%, rgba(41, 2, 2, 1) 86%);
  background: linear-gradient(143deg, rgba(0, 0, 0, 1) 14%, rgba(43, 22, 22, 1) 50%, rgba(41, 2, 2, 1) 86%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#290202", GradientType=0);
}

.snippet {
  background: #1a0000;
}

#sniph2 {
  color: darkred;
}

#snipp {
  font-family: Georgia, serif;
}

